body {
    font-family: 'Cormorant Garamond', sans-serif;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

#update {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

    #update label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #update label {
        font-weight: bolder;
    }

#form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

    #form label, button, input, select {
        margin: 10px;
        padding: 7px;
    }

    #form label {
        font-weight: bolder;
    }

table button {
    padding: 2px;
}
